.loginWrapper {
  background-color: #282c34;
  min-height: 100vh;
}
.loginBox {
  margin-top: 20vh;
  // width: 400px;
}
.iconWrapper {
  text-align: center;
  // margin-bottom: 10px;
  p {
    // margin: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
}
.input {
  margin-bottom: 10px;
}
